:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);

  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

html {
  font-size: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem;
  margin-bottom: 1rem;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul > li {
  padding: 15px;
  color: gray;
}

.showcase {
  padding: 1.25rem;
  padding-top: 0;
}

.showcase h1 {
  font-size: 2rem;
  color: var(--very-dark-blue);
  margin: 1rem 0;
}
