:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--green-lighter);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
}

.container {
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
